@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
--cor-de-fundo:rgba(30, 30, 30, 1);
--cor-de-icone1:rgba(59, 109, 155, 0.6);
--cor-de-icone2:rgba(59, 109, 155, 0.84);
--cor-de-icone3:rgba(59, 109, 155, 0.84);
--cor-de-icone4:rgba(59, 109, 155, 0.84);
--cor-de-título:rgba(255, 255, 255, 1);
--cor-de-títuloprincipal:rgba(255, 87, 87, 1);
--branco:rgba(255, 255, 255, 1);
--verde-dias:rgba(111, 255, 87, 1);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-icone1);
    font-family: 'Dancing Script', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
}