@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Covered+By+Your+Grace&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
--cor-de-fundo:rgba(0, 0, 0, 1);
--cor-de-icone1:rgba(59, 109, 155, 0.6);
--cor-de-icone2:rgba(59, 109, 155, 0.84);
--cor-de-icone3:rgba(59, 109, 155, 0.84);
--cor-de-icone4:rgba(59, 109, 155, 0.84);
--cor-de-título:rgba(255, 255, 255, 1);
--cor-de-títuloprincipal:rgba(255, 87, 87, 1);
--branco:rgba(255, 255, 255, 1);
--verde-dias:rgba(111, 255, 87, 1);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-título);
    font-family: 'Birthstone', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--verde-dias);
}
.botao{
    font-family: "Birthstone",sans-serif;
    background-color: var(--cor-de-icone1);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--cor-de-icone1);
    border-left: 2px solid var(--cor-de-icone1);
    border-right: 2px solid var(--cor-de-icone1);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 40px 0 0;
}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--cor-de-icone1);
}
.abas-textos{
    background-color: var(--cor-de-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 70px;
    text-align:center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--branco);
    text-transform: uppercase;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}